.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}

.gradient {
  width: 1150px;
  height: 1150px;
  border-radius: 50%;
  opacity: 0.8;
  filter: blur(70px);
  border: 1px solid #ffffff;
  animation-name: blur-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;

  // add media queries
}

.firstRotateAnimator {
  // background-color: #e78284;
  position: absolute;
  top: -35%;
  left: 0;
  right: auto;
  width: 30%;
  height: 100vh;
  animation-name: move-by-circle-animation;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}
.secondRotateAnimation {
  // background: #edb080;
  position: absolute;
  top: -35%;
  left: 35%;
  right: auto;
  width: 30%;
  height: 100vh;
  animation-name: move-by-circle-animation;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

.thirdRotateAnimation {
  // background: #a5ff6e;
  position: absolute;
  top: -35%;
  right: 35%;
  left: auto;
  width: 30%;
  height: 100vh;
  animation-name: move-by-circle-animation;
  animation-duration: 55s;
  animation-iteration-count: infinite;
}

.fourthRotateAnimation {
  // background: #7eb9ff;
  position: absolute;
  top: -35%;
  left: auto;
  right: 10%;
  width: 30%;
  height: 100vh;
  animation-name: move-by-circle-animation;
  animation-duration: 65s;
  animation-iteration-count: infinite;
}

.flamingo {
  top: -40%;
  right: -10%;
  background-color: #e78284;
  animation-name: flamingo-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.orange {
  top: -40%;
  right: -50%;
  background-color: #edb080;
  animation-name: orange-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.green {
  top: -40%;
  right: 20%;
  background-color: #a5ff6e;
  animation-name: green-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.blue {
  top: -40%;
  right: 10%;
  background-color: #7eb9ff;
  animation-name: blue-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes blur-animation {
  0% {
    filter: blur(70px);
  }
  50% {
    filter: blur(100px);
  }
  100% {
    filter: blur(70px);
  }
}

@keyframes flamingo-animation {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: 65%;
    right: 40%;
  }
  100% {
    top: 0;
    right: 0;
  }
}

@keyframes orange-animation {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: 45%;
    right: 40%;
  }
  100% {
    top: 0;
    right: 0;
  }
}

@keyframes green-animation {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: 85%;
    right: 40%;
  }
  100% {
    top: 0;
    right: 0;
  }
}

@keyframes blue-animation {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: 85%;
    right: 40%;
  }
  100% {
    top: 0;
    right: 0;
  }
}

@keyframes move-by-circle-animation {
  0% {
    transform: rotate(0deg);
    width: 10%;
  }
  50% {
    width: 20%;
  }
  100% {
    transform: rotate(360deg);
    width: 10%;
  }
}
